body {
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #fff;
	background-image: url(/i/site-bg.png);
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
}

ol, ul {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#wrapper {
	position: absolute;
	width: 520px;
	height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(/i/cont-bg.png) no-repeat center top;
}

header {
	height: 70px;
	background-color: #950502;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-container {
	padding: 23px 0;
}

#logo {
	float: left;
	margin-left: 23px;
	color: #fff;
	font: 24px/24px Georgia, sans-serif;
}

/*block of navigation*/
nav {
	float: right;
}

nav li {
	float: left;
	margin-right: 20px;
}

nav li a {
	text-transform: lowercase;
	color: #fff;
	font: 14px/28px Georgia, sans-serif;
}

.container {
	margin: 25px 22px 0;
}

/*загальний стиль для вказівника на навігаційне меню*/
.nav-shape-img {
	position: absolute;
	top: 14%;
}

/*стилі блока about*/
/*стиль для вказівника на навігаційне меню*/
#about .nav-shape-img {
	left: 68.7%;
}

.about-header {
	display: inline-block;
}

.about-header img {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 22px;
	border: 4px inset #c82826;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.about-header .text {
	float: left;
	width: 304px;
}

.about-header .text h2 {
	color: #950502;
	font: 18px/20px Georgia, sans-serif;
	margin-bottom: 10px;
}

.about-header .text p {
	font: 12px/18px Arial, sans-serif;
}

.about-footer h2 {
	color: #950502;
	font: 20px/24px Georgia, sans-serif;
	margin: 30px 0;
}

.about-footer ul {
	float: left;
	padding-left: 30px;
	list-style-image: url('../i/about-footer-shape.png');
	font: 12px/18px Arial, sans-serif;
}

.about-footer ul:nth-child(2) li {
	width: 160px;
}

.btn {
	text-align: left;
	font: 12px/14px Arial, sans-serif;
	background-color: #aa0c08;
	border: 0;
	color: #fff;
	cursor: pointer;

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	     -o-border-radius: 6px;
			border-radius: 6px;
}

.btn:hover {
	background-color: #790200;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.about-footer .btn {
	float: right;
	display: inline-block;
	width: 135px;
	margin-left: 15px;
	padding: 12px 22px;
	text-transform: uppercase;
	text-align: left;
	background-image: url('../i/about-footer-btn.png');
	background-repeat: no-repeat;
	background-position: 90px 6px;
}

/*стилі блока work*/
/*стиль для вказівника на навігаційне меню*/
#work .nav-shape-img {
	left: 78.7%;
}

.work-img {
	display: inline-block;
}

.work-img-item {
	float: left;
	width: 158px;
	margin-bottom: 25px;
}

.work-img-item img {
	width: 118px;
	height: 118px;
	margin: 0 21px;
	border: 4px inset #c82826;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.work-nav {
	display: inline-block;
	margin: 0 43%;
}

.work-nav-item {
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	border: 1px solid #b0b4b8;
	background-color: #d9dde1;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
			border-radius: 50%;
}

.work-nav-item:hover {
	background-color: #af0e0a;
	cursor: pointer;
}

/*стилі блока contact*/
/*стиль для вказівника на навігаційне меню*/
#contact .nav-shape-img {
	left: 90%;
}

#contact .title {
	color: #000;
	font: 18px/20px Georgia, sans-serif;
	margin-bottom: 30px;
}

.contact-item {
	margin: 0 35px;
}

#contactform {
	float: left;
	width: 245px;
}

#contactform input[type="text"],
#contactform textarea {
	width: 245px;
	padding: 5px 10px;
	border: none;
	margin-bottom: 21px;
	font: 14px/14px Georgia, sans-serif;
	color: #222;
	background: #f2f2f2;
	box-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	     -o-border-radius: 4px;
			border-radius: 4px;	
}

#contactform input[type="text"] {
	height: 25px;
}

#contactform textarea {
	height: 95px;
	resize: none;
}

#contactform .btn {
	width: 120px;
	height: 23px;
	margin-left: 125px;
	text-transform: capitalize;
	text-align: center;
}

/*vertical line*/
#contact .vert-img {
	float: left;
	width: 1px;
	height: 184px;
	margin: 0 20px;
}

#contact .my-contact {
	float: left;
	width: 120px;
	color: #cfcfcf;
	font: 14px/22px Georgia, sans-serif;
}

#contact .my-contact p:nth-child(2n) {
	color: #000;
	font: 14px/22px Georgia, sans-serif;
}

/*Стилі соціальних кнопок*/
#contact .social {
	margin-top: 10px;
}

#contact .social a span {
	color: #cfcfcf;
}

#contact .social a span:hover {
	color: #aa0c08;
}
